/* Header */
.codrops-header {
	padding: 3vmax 0 0 3vmax;
	position: absolute;
	width: 100%;
	z-index: 2000;
	pointer-events: none;
	position: fixed;
}

.codrops-header h1 {
	margin: 0;
	letter-spacing: -0.035em;
	font-size: 4.65em;
	line-height: 1;
	font-weight: 900;
	color: #323F5C;
}

.codrops-header p {
	padding: 0;
	margin: 0;
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	pointer-events: auto;
	margin: 0 0 0 -0.5em;
}

.codrops-links::after {
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 110%;
    background: #323F5C;
    opacity: 0.1;
    -webkit-transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
    transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon::before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;

	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--contact::before {
	content: "\f0e0";
	color: #0099cc;
}

.codrops-icon--resume::before {
	content: "\f02d";
}
