@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons.eot');
  src:url('../fonts/codropsicons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/codropsicons.woff') format('woff'),
  url('../fonts/codropsicons.ttf') format('truetype'),
  url('../fonts/codropsicons.svg#codropsicons') format('svg');
}
